@model Litium.Accelerator.ViewModels.Error.ErrorViewModel

<div class="row">
    <div class="small-12 medium-6 small-centered columns">
        <h1>
            @Model.Title
        </h1>
        @Model.Text
    </div>
</div>
