@using Litium.Accelerator.Mvc.Controllers.Framework
@{
    var bareLayout = (bool?)ViewContext.RouteData.DataTokens["BareLayout"] == true;
}
<!DOCTYPE html>
<html>
<head>
    <vc:head-layout-controller />
    @RenderSection("head", false)
    <vc:client-context-controller />
</head>
<body>
    <vc:body-start-layout-controller />
    @if (!bareLayout)
    {
        <vc:header-layout-controller />
        <vc:bread-crumbs-layout-controller />
    }
    <main class="main-content">
        @RenderBody()
    </main>
    @if (!bareLayout)
    {
        <vc:footer-layout-controller />
    }
    <div id="globalNotification"></div>
    @RenderSection("js", false)
    <vc:body-end-layout-controller />
</body>
</html>
