{
    "root": true,
    "extends": [
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ],
    "plugins": ["prettier"],
    "rules": {
        "react/prop-types": 0,
        "react/display-name": 0,
        "prettier/prettier": "error"
    },
    "parser": "babel-eslint",
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}